@font-face {
    font-family:'Netflix Sans-black';
    src: url('font/NetflixSans-Black.otf') format('opentype');
    font-family: 'Netflix Sans-bold';
    src: url('font/NetflixSans-Bold.otf') format('opentype');
    font-family: 'Netflix Sans-medium';
    src:url('font/NetflixSans-Medium.otf') format('opentype');
    font-family: 'Netflix Sans-regular';
    src:url('font/NetflixSans-Regular.otf') format('opentype');
    font-weight:normal ;
    font-style: normal;
}
*{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    color: white;
    font-family: 'Arial', sans-serif;
}

.barrasup {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3% 5%;
  z-index: 10;
} 
.item1 {
    gap: 10px;
    width: 100px;
  
}
.logo {
    height: 40px;
    max-width: 100%;
    margin-top: 2rem;
}
nav {
    position: fixed;
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    color: whitesmoke;
}

.linguagem_drop_down{
    background: transparent;
    border: none;
    color: white;
}
.linguagem_drop_down:focus{
    outline: none;
}
.dropdown_container1{
    margin-top: 2rem;
    max-width: 100%;
    height: 40px;
    cursor: pointer;
    color: #FFFFFF;
    width: 150px;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid white;
    padding: 0.4rem;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
    float: left;
    width: fit-content;
}
.dropdown_container {
    border: 1px solid white;
    padding: 0.4rem;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
}
.dropdown_container {
    border: 1px solid white;
    padding: 0.4rem;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
}
header{
    background-color: #FFFFFF;  
    display: flex;
    justify-content: center;
    margin-top: 0px;
    height: 3.5rem;
}
.acima{
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
    color: #333333;
    font-family: 'NetiflixSans-Regular', sans-serif;
    
}
.btni{
    border-style: none;
    cursor: pointer;
    color: #0071eb;
    align-items: center;
    font-size: 16px;
    justify-content: center;
    background: transparent;
    border: 0;
}

.container{
    width: 100%;
    height: 120vh;
    background-repeat: no-repeat;
    background-image: url('imagens/fundo.jpeg');
    margin-top: 0
}

.texto{
    margin-top: 15vh;
    top: 50%;
    left: 50%;
    
}
.inp{
    margin: 30px 5px;
    float: right;
    max-width: 100%;
    height: 40px;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1rem;
    background-color: transparent;
    color: #FFFFFF;
    width: 8rem;
    padding: auto;
}

.texto h1{
    text-align: center;
    font-size: 50px;
    font-weight: medium;
    font-family: 'Netflix Sans-medium', sans-serif;
}
.texto h2{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: regular;
    font-family: 'Netflix Sans-medium', sans-serif;    
}
.texto h3{
    text-align: center;
    font-size: 26px;
    padding: 10px;
    font-weight: regular;
    font-family: 'Netflix Sans-regular', sans-serif;
}
.texto h4{
    text-align: center;
    font-size: 19px;
    padding: 10px;
    font-weight: regular;
    font-family: 'Netflix Sans-regular', sans-serif;

}
.form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 60px;
   
}
.email{
    width: 435px;
    padding-left: 10px;   
}
.email:hover{
    opacity: 0.6;
}
.btn2{
    width: 120px;
    background-color: #e50914;
    border: 0;
    font-size: 1.2rem;
    cursor: pointer;
    color: #FFFFFF;
    vertical-align: top;
    align-items: center;
}
.dropdown_container1{
    float: left;
}

.btn1{
    margin: 30px 40px;
    float: right;
    max-width: 100%;
    height: 40px;
    background-color: red;
    cursor: pointer;
    color: #FFFFFF;
    width: 80px;
    font-size: 1rem;
    border-radius: 0.3rem;
}
.divs{
    border-top: 8px solid #222;
    padding: 2rem 1rem;
    margin-top: 0px;
}
.divs__detalhes{
    text-align: center;
    color: #FFFFFF;
    
}
.divs__titulo{  
    font-size: 3.125rem;
    font-weight: 600;
    margin: 10px 0px;
    
}
.divs__sub__titulo{
    font-size: 1.625rem; 
    font-weight: 400;
}

.divs__img__container{
    position: relative;
    width: 100%;   
}

.divs__img{
    width: 100%;
}
.divs__backgroud__video{
    width: 100%;
    
}
.divs__backgroud__video__container{
    position: absolute;
}


.divs__backgroud__video__container{
    position: absolute;
    width: 100%;
    top: 20%;
    left: 13%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    z-index: -2;
}


.divs__2__backgroud__video__container{
    position: absolute;
    width: 100%;
    top: 34%;
    left: 50%;
    height: 100%;
    max-width: 63%;
    max-height: 47%;
    z-index: -2; 
    transform: translate(-50%,-50%);
}
.divs__2__backgroud__video{
    width: 100%;
}
.divs__post__container {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 16em;
    display: flex;
    align-items: center;
    background-color: black;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    height: 60px;
    padding: 0.25rem 0.6rem;
    gap: 15px;
}
.post__container{
    width: 20%;
}
.post {
    width: 100%;
    height: 100%;
}
.post__detalhes {
    width: 60%;
}
.post__detalhes > h5 {
    font-size: 13px;
    font-weight: 500;
    color: #FFFFFF;
    
}
.post__detalhes > h6 {
    font-size: 12px;
    color: rgb(63, 63, 246);
    font-weight: 400;
}
.download_container {
    width: 20%;
    height: 100%;
    
}
.gif {
    width: 100%;
    height: 100%;
}

footer {
    border-top: 8px solid #222;
    padding: 2rem 1rem;   
    color: #757575;
    gap: 20px;
}
.footer_site{
    padding-top: 0;
    margin: 0 auto;
    padding: 0;
    margin: 0 auto;
    width: 85%;
    gap: 20px;
    font-family: 'Netflix Sans-regular', serif;
    font-weight: regular;
}

.topo1{
    font-size: 1rem; 
    font-weight: 400;
    flex-wrap: wrap;
    gap: 20px;   
    color: #737373; 
    margin-bottom: 1rem;
    margin-top: 2rem;
  
}

.topo1-a {
    color: #737373;
    font-size: 1rem;
    
}
.topo2{
    font-size: 0.8rem;
    color: #737373;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-bottom: 1rem;
    
}
.topo4{
    margin-top: 1rem;
}
li{
    line-height: 1.9;
    list-style-type: none;
}
li a{
    color: #737373;
    text-decoration: none;
}

.topo3 > .dropdown_container {
    width: fit-content;
    border: 1px solid #757575; 
    color: #757575;
    cursor: pointer;
}
.linguagemdrop{
    color: #757575;
    background-color: transparent;
    border: 1px solid #757575; 
    cursor: pointer;
    border: transparent;
    margin-top: 1rem;
    margin: 30px 40px;
    float: right;
    max-width: 100%;
    height: 40px;
    background-color: red;
    cursor: pointer;
    color: #FFFFFF;
    width: 80px;
    font-size: 1rem;
    border-radius: 0.3rem;
}

.topo3 > .dropdown_container > .linguagem_drop_down {
    color: #757575;
    background-color: transparent;
}
span > .dropdown_container > .linguagem_drop_down {
    color: #757575;
    background-color: transparent;
}
#dropdown_contain {
    width: fit-content;
    border: 1px solid #757575; 
    color: #757575;
    cursor: pointer;
}
#dropdown_contain > .inp{
    color: #757575;
    background-color: transparent;
}
.acordo{
    width: 100%;
    font-weight: regular;
    font-family: 'Netflix Sans-regular', serif;
    font-size: 26px;
    color: #FFFFFF;
}
.list_container{
    border-top: 8px solid #222;
    padding: 2rem 5rem 6rem 0;
}
.cabeça{
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    margin: 1rem 3rem;
    font-weight: medium;
    font-family: 'Netflix Sans-medium', serif;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.quest{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    font-size: 18px;
    background-color: #303030;
    border: 1px solid #303030;
    color: #FFFFFF;
}
.visib{
    background-color: #303030;
    border-top: 1px solid black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}
.visib > p{
    margin: 1rem;
}
.get_email{
    text-align: center;
}
.email_form{
    font-size: 18px;
    font-weight: 400;
    margin: 2rem 0;
}
@media (min-width: 768px) {
    .divs {
        padding: 4rem;
    }
    .divs__title {
        font-size: 35px;
    }
    btn1{
        padding: 10px 20px;
        font-size: 18px;   
    }
    .divs__sub__title {
    font-size: 20px;
    }
    .divs__post__container {
    max-width: 26em;
    height: 85px;
    }
    .post__container {
    width: 15%;
    }
    .download__container {
    width: 3rem;
    height: 3rem;
    }

    .post__detalhes > h5 {
    font-size: 18px;
    }
    .post__detalhes > h6 {
    font-size: 14px;
    }
    .quest{
        font-size: 20px;
    }
    .cabeça{
        font-size: 38px;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .list{
        padding: 1rem 5rem;
    }
    .get_email{
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translateX(15%);
    }
}
@media (min-width: 1024px){
    .banner{
        top: 50%;
        left: 50%;
    }
    .barrasup{
        padding: 2% 5%
    }
    .item1{
        width: 150px;
    }
    .dropdown_container1{
        padding: 10px 5px;
    }
    .item2{
        gap: 30px;
    }
    .divs {
        color: #737373;
        font-size: 1em;
        min-width: 190px;
        padding-bottom: 20px;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
    .divs__detalhes{
        text-align: left;
        padding: 0 6rem;
      }
    
    .divs__tittulo {
        font-size: 50px;
    }

    .divs__sub__titulo {
        font-size: 25px;
    }

    .divs__img__container {
        max-width: 500px;
    }
    .divs__post__container {
        max-width: 20em;
        height: 100px;
        padding: 1rem;
    }
    .post__container {
        width: 20%;
    }
    .footer_site {
        padding: 2rem 15rem;
        align-items: flex-start;
        text-align: left;
        justify-content: flex-start;
        
    }
    .topo2{
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;
    }
    .topo1,
    .topo3,
    .topo4 {
        align-self: flex-start;
    }
    .list{
        padding: 1rem 25rem;
    }
    .get_email{
        transform: translateX(16%);
    }
    main section.servicos .container {
        grid-template-columns: 1fr;
    }

 
}
@media (min-width: 1254px){

}